{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HIPS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .msger{
      border: 5px solid #FFFF00;
      text-align: center;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger" class="center">
    <header class="msger-header">
      <div class="msger-header-title">
        <form class="msger-inputarea" method="post">
          <input type="text" class="msger-input" id="textInput" placeholder="Ingrese algun comando">
          <button type="submit" class="msger-send-btn">Enviar</button>
        </form>
      </div>
    </header>
    <main class="msger-chat">
      <div class="msg left-msg">

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">HIPS-Alain Vega/Carlos Troya</div>
            <div class="msg-info-time">12:45</div>
          </div>

          <div class="msg-text">
            Consulte help para ver los comandos 😄
          </div>
        </div>
      </div>

    </main>


  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");


    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "https://freesvg.org/img/1538298822.png";
    const PERSON_IMG = "https://svgsilh.com/svg/1633250.svg";
    const BOT_NAME = "HIPSBOT";
    const PERSON_NAME = "YO";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  ${name} - ${formatDate(new Date())}: ${text}
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {

      // Bot Response
      $.get("../home/bruh", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText);

      });

    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }



  </script>

</body>

</html>
<br>